@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "jose";
  src: url(JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "instagram";
  src: url(GreatVibes-Regular-webfont.ttf);
}

:root {
  --color-primary: #002626;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Helvetica', sans-serif;
  --font-heading: 'Merriweather', serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

body {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .navigation a {
  font-family: "jose", JosefinSans;
  text-decoration: none;
  color: white;
}

.dark-mode .tick {
  border-radius: 50px;
  background-color: black;
}

.dark-mode .watch {
  border-radius: 50px;
  color: white;
}

.dark-mode .link2 {
  color: purple;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.main-navigation-toggle + label {
  position: fixed;
  top: calc(var(--space) * 1.5);
  right: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 2;
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--nav-duration) var(--ease);
  transition: -webkit-transform var(--nav-duration) var(--ease);
  transition: transform var(--nav-duration) var(--ease);
  transition: transform var(--nav-duration) var(--ease), -webkit-transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform var(--nav-duration);
  transition: -webkit-transform var(--nav-duration);
  transition: transform var(--nav-duration);
  transition: transform var(--nav-duration), -webkit-transform var(--nav-duration);
  z-index: 1;
}

.main-navigation:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  z-index: -1;
}

.main-navigation ul {
  font-size: 12vmin;
  font-family: var(--font-heading);
  width: 100%;
}

.main-navigation li {
  --border-size: 1vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.main-navigation li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-size);
  background-color: white;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translateX(-100%) skew(15deg);
          transform: translateX(-100%) skew(15deg);
}

.main-navigation a {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-secondary);
  line-height: 1;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform calc(var(--nav-duration) * 2) var(--ease);
  transition: -webkit-transform calc(var(--nav-duration) * 2) var(--ease);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
  transition: transform calc(var(--nav-duration) * 2) var(--ease), -webkit-transform calc(var(--nav-duration) * 2) var(--ease);
}

.main-content > * + * {
  margin-top: calc(var(--space) * var(--line-height));
}

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.main-navigation-toggle:checked ~ .main-content {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.main-navigation-toggle:checked ~ .main-navigation {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-navigation-toggle:checked ~ .main-navigation:after {
  -webkit-animation: nav-bg var(--nav-duration) var(--ease) forwards;
          animation: nav-bg var(--nav-duration) var(--ease) forwards;
}

.main-navigation-toggle:checked ~ .main-navigation li:after {
  -webkit-animation: nav-line var(--duration) var(--ease) forwards;
          animation: nav-line var(--duration) var(--ease) forwards;
}

.main-navigation-toggle:checked ~ .main-navigation a {
  -webkit-animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
          animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}

.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
  -webkit-animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
          animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}

.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
  -webkit-animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
          animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}

.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
  -webkit-animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
          animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}

.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
  -webkit-animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
          animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}

@-webkit-keyframes nav-bg {
  from {
    -webkit-transform: translateX(-100%) skewX(-15deg);
            transform: translateX(-100%) skewX(-15deg);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-bg {
  from {
    -webkit-transform: translateX(-100%) skewX(-15deg);
            transform: translateX(-100%) skewX(-15deg);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes nav-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  35% {
    -webkit-transform: scaleX(1.001);
            transform: scaleX(1.001);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  65% {
    -webkit-transform: scaleX(1.001);
            transform: scaleX(1.001);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}

@keyframes nav-line {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  35% {
    -webkit-transform: scaleX(1.001);
            transform: scaleX(1.001);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  65% {
    -webkit-transform: scaleX(1.001);
            transform: scaleX(1.001);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}

@-webkit-keyframes link-appear {
  0%, 25% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes link-appear {
  0%, 25% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 22px;
}

.navigation .link1 {
  margin-left: 546px;
}

.navigation .link2 {
  margin-left: -3px;
  font-family: "jose",JosefinSans;
  color: purple;
}

.navigation .link3 {
  margin-right: 131px;
}

.navigation .logo {
  height: 8vh;
  margin-left: -987px;
  position: absolute;
}

.navigation a {
  font-weight: bold;
  font-size: 20px;
  font-family: "jose",JosefinSans;
  text-decoration: none;
  color: black;
}

.navigation .dropdown {
  margin-top: 5px;
  height: 3vh;
  margin-left: -33px;
}

.banner h1 {
  font-weight: bolder;
  font-size: 30px;
  font-family: "jose",JosefinSans;
}

.banner p {
  font-weight: 700;
  font-family: "jose",JosefinSans;
}

.banner .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banner .pics {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .bride {
  margin-right: 10px;
  height: 70vh;
  margin-top: 84px;
}

.banner .couple {
  margin-right: 10px;
  height: 70vh;
}

.banner .bucket {
  margin-right: 10px;
  height: 70vh;
  margin-top: 84px;
}

.banner .xul {
  height: 70vh;
}

.banner .wordnbuttons {
  width: 373px;
  margin-top: 129px;
}

.banner .button1 {
  font-family: "jose",JosefinSans;
  height: 5vh;
  width: 110px;
  border-style: none;
  background-color: purple;
  color: white;
}

.banner .button2 {
  font-family: "jose",JosefinSans;
  height: 5vh;
  width: 122px;
  border-left: solid 4px purple;
  border-right: solid 4px purple;
  border-top: solid 2px purple;
  border-bottom: solid 2px purple;
}

.banner .content {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .content .watch {
  height: 4vh;
}

.banner .content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .content2 .tick {
  height: 4vh;
}

.banner .p1 {
  margin-left: 14px;
  color: purple;
  font-family: "jose",JosefinSans;
}

.banner .p12 {
  margin-left: 14px;
  font-family: "jose",JosefinSans;
}

.banner .p2 {
  font-family: "jose",JosefinSans;
}

#Aboutus .p3 {
  margin-top: 20px;
  font-family: "jose",JosefinSans;
}

#Aboutus .all2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Aboutus .tigz {
  font-weight: bolder;
  font-size: 18px;
  font-family: "jose",JosefinSans;
  margin-top: 120px;
  margin-left: 160px;
}

#Aboutus .p2 {
  font-family: "jose",JosefinSans;
  margin-left: 168px;
}

#Aboutus .tutor {
  margin-left: -5px;
  height: 38vh;
  margin-top: 79px;
}

#Aboutus .bags {
  margin-top: -50px;
  height: 38vh;
  margin-left: 172px;
}

#Aboutus .dancing2 {
  margin-left: 30px;
}

#Aboutus .dancing2 .dancing {
  height: 48vh;
}

#Aboutus .button3 {
  margin-top: 13px;
  font-family: "jose",JosefinSans;
  background-color: purple;
  border-style: none;
  color: white;
  height: 5vh;
  width: 110px;
}

#Aboutus .youtube {
  height: 10vh;
  position: absolute;
  height: 5vh;
  bottom: -685px;
  border-radius: 29px;
  left: 850px;
  top: 900px;
}

#services .all3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#services .clk {
  font-size: 18px;
  font-weight: bolder;
  font-family: "jose",JosefinSans;
  margin-left: 67px;
  margin-top: 150px;
  margin-bottom: 50px;
}

#services .kule {
  height: 84vh;
  width: 93%;
  margin-right: 20px;
}

#services .events {
  font-size: 19px;
  font-weight: bolder;
  font-family: "jose",JosefinSans;
  position: absolute;
  bottom: -0.9%;
  left: 18%;
  color: white;
}

#services .arrow {
  position: absolute;
  height: 5vh;
  bottom: 0%;
  left: 27.1%;
}

#services .ds {
  background-color: purple;
  width: 38%;
  height: 84vh;
  margin-right: 20px;
  color: white;
}

#services .ds ol {
  line-height: 3rem;
  margin-left: 20px;
}

#services .ds ol li {
  font-family: "jose",JosefinSans;
  font-size: 15px;
}

#services .ds ol .logos {
  text-decoration: underline;
}

#services .camera {
  height: 84vh;
  width: 93%;
}

#services .h3 {
  color: white;
  position: absolute;
  left: 20%;
  bottom: -213.9%;
}

#services .h32 {
  color: white;
  position: absolute;
  left: 75.1%;
  bottom: -213.9%;
}

#services .ds2 {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bolder;
  font-family: "jose",JosefinSans;
  margin-left: 25px;
}

#services .x {
  position: absolute;
  bottom: 0%;
  left: 64.7%;
}

#services .arrow2 {
  position: absolute;
  bottom: 0%;
  height: 5vh;
  left: 94.2%;
}

#services .media {
  font-weight: bolder;
  font-size: 19px;
  font-family: "jose",JosefinSans;
  position: absolute;
  bottom: -220.9%;
  left: 76%;
  color: white;
}

.serve2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serve2 .guyz {
  margin-left: 154px;
  margin-top: 104px;
}

.serve2 .guyz .right {
  position: absolute;
  margin-left: -47px;
  margin-top: 256px;
}

.serve2 .guyz .fatso {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: "jose",JosefinSans;
}

.serve2 .guyz .subp4 {
  font-size: 16px;
  font-family: "jose",JosefinSans;
}

.serve2 .guyz .p4 {
  font-size: 16px;
  font-family: "jose",JosefinSans;
}

.serve2 .bride {
  margin-top: 23px;
  margin-left: 62px;
}

.serve2 .bride .right2 {
  margin-left: -47px;
  margin-top: 255px;
  position: absolute;
}

.serve2 .bride .fatso2 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "jose",JosefinSans;
}

.serve2 .bride .subp5 {
  font-size: 16px;
  font-family: "jose",JosefinSans;
}

.serve2 .bride .p5 {
  font-size: 16px;
  font-family: "jose",JosefinSans;
}

.serve2 .gentlemen {
  height: 48vh;
}

.serve2 .muroora {
  height: 48vh;
}

.clients {
  margin-bottom: -46px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "jose",JosefinSans;
  margin-left: 59px;
  margin-top: 91px;
}

.asseen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asseen .seen {
  font-weight: bolder;
  font-family: "jose",JosefinSans;
  margin-top: 115px;
  text-align: center;
}

.asseen .seen span {
  font-weight: normal;
  font-family: "instagram",GreatVibes;
}

.asseen .photogrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-left: 102px;
}

.asseen .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asseen .r1 {
  margin-right: 11px;
  height: 50vh;
}

.asseen .r2 {
  margin-right: 11px;
  height: 50vh;
  margin-top: 69px;
}

.asseen .r3 {
  margin-right: 11px;
  height: 50vh;
}

.asseen .r4 {
  margin-right: 11px;
  height: 50vh;
  margin-top: 69px;
}

.asseen .r5 {
  margin-right: 11px;
  height: 50vh;
}

.asseen .r6 {
  height: 50vh;
  margin-top: 69px;
}

.asseen .button4 {
  font-family: "jose",JosefinSans;
  width: 126px;
  padding: 7px;
  border-style: none;
  background-color: purple;
  color: white;
}

.asseen .zozo {
  font-family: "jose",JosefinSans;
  margin-top: 60px;
}

.footer {
  height: 40vh;
  margin-top: 65px;
  background-color: purple;
  color: white;
}

.footer .all15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .all15 p {
  font-family: "jose",JosefinSans;
}

.footer .all15 h4 {
  text-decoration: underline;
  font-family: "jose",JosefinSans;
}

.footer .all15 .zizo {
  height: 7vh;
  margin-top: 27px;
}

.footer .all15 .copy2 {
  font-family: "jose",JosefinSans;
  margin-top: 20px;
  margin-left: 6px;
}

.footer .all15 .first .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.footer .all15 .first .copy .right {
  margin-top: 25px;
}

.footer .all15 .second {
  margin-top: 27px;
}

.footer .all15 .third {
  margin-top: 27px;
}

.footer .all15 .forth {
  margin-top: 27px;
}

.footer .all15 .forth .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .all15 .forth .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .all15 .forth .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .all15 .forth .us {
  margin-left: 10px;
}

.footer .all15 .forth .com {
  margin-left: 10px;
}

.footer .all15 .forth .street {
  margin-left: 10px;
}

@media (max-width: 575px) {
  .icon--menu-toggle {
    position: absolute;
    margin-left: -61px;
    margin-top: -4px;
  }
  .main-navigation .logo {
    position: relative;
    height: 7vh;
    margin-left: 16px;
    margin-top: -157%;
  }
  .navigation {
    display: none;
  }
  .banner .all {
    margin-top: 47px;
  }
  .banner .wordnbuttons {
    position: relative;
    margin-left: 74px;
  }
  .banner h1 {
    width: 366px;
    margin-top: -79px;
    margin-left: -50px;
  }
  .banner p {
    font-size: 14px;
    margin-left: -50px;
    width: 274px;
  }
  .banner .p1 {
    margin-left: 5px;
  }
  .banner .p12 {
    margin-left: 5px;
  }
  .banner .bride {
    margin-left: -363px;
    height: 39vh;
    margin-top: 169px;
  }
  .banner .couple {
    height: 39vh;
    position: absolute;
    top: 38.5%;
    margin-left: -252px;
  }
  .banner .bucket {
    display: none;
  }
  .banner .xul {
    height: 39vh;
    position: absolute;
    top: 38.5%;
    margin-left: -142px;
  }
  .banner .content {
    margin-left: 72px;
    margin-top: 351px;
  }
  .banner .content2 {
    margin-left: 72px;
  }
  .banner .buttons {
    left: -46px;
    position: absolute;
    margin-top: 283px;
  }
  .banner .watch {
    margin-left: -119px;
  }
  .banner .tick {
    margin-left: -119px;
  }
  #Aboutus .tigz {
    margin-top: 43px;
    margin-left: 32px;
  }
  #Aboutus .p2 {
    font-size: 14px;
    width: 359px;
    margin-left: 17px;
  }
  #Aboutus .all2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Aboutus .bags {
    margin-top: 14px;
    height: 29vh;
    margin-left: 23px;
  }
  #Aboutus .tutor {
    margin-left: 1px;
    height: 29vh;
    margin-top: 13px;
  }
  #Aboutus .dancing2 .youtube {
    position: absolute;
    left: 156px;
    top: 1225px;
  }
  #Aboutus .dancing2 .dancing {
    margin-left: -8px;
    margin-top: 5px;
    height: 41vh;
  }
  #Aboutus .button3 {
    margin-left: -8px;
  }
  #Aboutus .p3 {
    font-size: 14px;
    margin-left: -9px;
    width: 359px;
    margin-top: 12px;
  }
  #services .clk {
    margin-left: 28px;
    margin-top: 47px;
    margin-bottom: 26px;
  }
  #services .all3 {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services .all3 .makule .kule {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 17px;
    height: 40vh;
    width: 93%;
  }
  #services .all3 .makule .events {
    color: white;
    margin-top: 117px;
    position: absolute;
    margin-left: 73px;
    top: 15%;
  }
  #services .all3 .makule .arrow {
    height: 5vh;
    bottom: 68.3%;
    left: 85,9%;
    position: absolute;
    margin-left: 205px;
  }
  #services .all3 .ds {
    font-size: 20px;
    margin-left: 14px;
    width: 93%;
    height: 40vh;
    margin-top: 20px;
  }
  #services .all3 .ds ol {
    line-height: 23px;
    margin-left: -2px;
  }
  #services .all3 .ds li {
    font-size: 13px;
  }
  #services .all3 .ds .x {
    left: 84.6%;
    bottom: 34.1%;
    position: absolute;
  }
  #services .all3 .ds .ds2 {
    margin-top: 6px;
  }
  #services .all3 .looks .camera {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 15px;
    margin-top: 22px;
    height: 40vh;
    width: 93%;
  }
  #services .all3 .looks .arrow2 {
    position: absolute;
    bottom: -0.2%;
    left: 85.1%;
  }
  #services .all3 .looks .media {
    color: white;
    position: absolute;
    bottom: -0.9%;
    left: 40.1%;
  }
  .clients {
    margin-bottom: -76px;
    margin-left: 26px;
    margin-top: 38px;
  }
  .serve2 {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .serve2 .guyz .right {
    margin-top: 178px;
  }
  .serve2 .guyz .gentlemen {
    margin-left: -134px;
    height: 34vh;
  }
  .serve2 .guyz .fatso {
    margin-top: 20px;
    margin-left: -131px;
  }
  .serve2 .guyz .p4 {
    margin-left: -131px;
    margin-top: -5px;
  }
  .serve2 .guyz .subp4 {
    margin-left: -131px;
  }
  .serve2 .bride {
    margin-top: -10px;
    margin-left: 132px;
  }
  .serve2 .bride .right2 {
    margin-top: 207px;
  }
  .serve2 .bride .p5 {
    margin-left: -106px;
  }
  .serve2 .bride .subp5 {
    margin-left: -99px;
  }
  .serve2 .bride .muroora {
    height: 34vh;
    margin-left: -108px;
    margin-top: 28px;
  }
  .serve2 .bride .fatso2 {
    margin-top: 20px;
    margin-left: -99px;
  }
  .asseen .photogrid {
    margin-left: 190px;
  }
  .asseen .seen {
    margin-top: 61px;
  }
  .asseen .r1 {
    margin-left: -165px;
    height: 30vh;
  }
  .asseen .r2 {
    height: 30vh;
  }
  .asseen .r3 {
    height: 30vh;
  }
  .asseen .r4 {
    display: none;
  }
  .asseen .r5 {
    display: none;
  }
  .asseen .r6 {
    display: none;
  }
  .footer {
    height: 94vh;
  }
  .footer .all15 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .all15 .first .zizo {
    margin-left: 90px;
  }
  .footer .all15 .first .zizo {
    margin-left: 29px;
  }
  .footer .all15 .first .copy {
    margin-left: 41px;
  }
  .footer .all15 .first .icons {
    margin-left: 31px;
  }
  .footer .all15 .second {
    margin-left: 200px;
    margin-top: -153px;
  }
  .footer .all15 .third {
    margin-left: 30px;
  }
  .footer .all15 .forth {
    margin-left: 27px;
    margin-top: 37px;
  }
  .footer .all15 .right {
    margin-left: -17px;
    margin-top: 21px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .fa-sun:before {
    margin-left: 577px;
  }
  .fa-moon::before {
    margin-left: 577px;
  }
  .icon--menu-toggle {
    display: none;
  }
  .main-navigation {
    display: none;
  }
  .navigation .logo {
    position: absolute;
    margin-left: -510px;
    height: 5vh;
    margin-top: -5px;
  }
  .navigation .link2 {
    position: absolute;
    margin-left: 198px;
    color: purple;
  }
  .navigation a {
    text-decoration: none;
  }
  .navigation .link1 {
    position: absolute;
    margin-left: 32px;
  }
  .navigation .link3 {
    position: absolute;
    margin-left: 565px;
  }
  .navigation .dropdown {
    position: absolute;
    margin-left: 287px;
  }
  .banner .all {
    margin-left: 27px;
  }
  .banner .all .pics {
    margin-right: 52px;
  }
  .banner .all .bucket {
    display: none;
  }
  .banner .all .xul {
    margin-top: 83px;
    height: 28vh;
  }
  .banner .all .wordnbuttons {
    margin-top: 91px;
    margin-left: 37px;
  }
  .banner .all p {
    font-size: 13px;
  }
  .banner .all .p1 {
    margin-left: 5px;
    margin-top: 10px;
  }
  .banner .all .p12 {
    margin-top: 10px;
    margin-left: 5px;
  }
  .banner .all .buttons {
    width: 245px;
  }
  .banner .all .couple {
    margin-left: 1px;
    margin-top: 83px;
    height: 28vh;
  }
  .banner .all .bride {
    margin-left: 20px;
    height: 28vh;
    margin-top: 84px;
  }
  #Aboutus .tigz {
    margin-left: 49px;
    margin-top: 60px;
  }
  #Aboutus .p2 {
    margin-top: 15px;
    margin-left: 28px;
    width: 299px;
    font-size: 13px;
  }
  #Aboutus .p3 {
    margin-top: 10px;
    font-size: 13px;
  }
  #Aboutus .bags {
    -o-object-fit: cover;
       object-fit: cover;
    width: 89%;
    height: 27vh;
    margin-top: 11px;
    margin-left: 32px;
  }
  #Aboutus .sack {
    margin-left: -10px;
  }
  #Aboutus .dancing2 {
    margin-left: 48px;
  }
  #Aboutus .dancing2 .dancing {
    height: 27vh;
  }
  #Aboutus .tutor {
    display: none;
  }
  #Aboutus .youtube {
    height: 3vh;
    left: 539px;
    top: 660px;
    bottom: -671px;
    position: absolute;
  }
  #services .clk {
    margin-left: 49px;
    margin-top: 76px;
    margin-bottom: 20px;
  }
  #services .all3 .makule .kule {
    width: 132%;
    margin-left: -24px;
    height: 39vh;
    margin-right: 0px;
  }
  #services .all3 .makule .events {
    position: absolute;
    margin-top: -192px;
    margin-left: -44px;
    bottom: -1%;
  }
  #services .all3 .makule .arrow {
    position: absolute;
    height: 4vh;
    bottom: -0.2%;
    left: 25.9%;
  }
  #services .all3 .ds {
    width: 48%;
    height: 39vh;
    margin-left: 41px;
  }
  #services .all3 .ds .ds2 {
    font-size: 17px;
    margin-left: 12px;
  }
  #services .all3 .ds ol {
    width: 200px;
    line-height: 32px;
    margin-left: 2px;
  }
  #services .all3 .ds li {
    font-size: 17px;
  }
  #services .all3 .ds .x {
    position: absolute;
    bottom: -0.2%;
    left: 63.7%;
  }
  #services .all3 .looks .media {
    position: absolute;
    margin-top: -577px;
    margin-left: 29px;
    bottom: -1%;
  }
  #services .all3 .looks .arrow2 {
    position: absolute;
    bottom: -0.2%;
    height: 4vh;
    left: 95.9%;
  }
  #services .all3 .looks .camera {
    height: 39vh;
    width: 118%;
    margin-left: -12px;
  }
  .clients {
    position: absolute;
    left: 333px;
    margin-left: -288px;
    margin-top: 64px;
  }
  .serve2 .fatso {
    margin-top: 14px;
  }
  .serve2 .fatso2 {
    margin-top: 14px;
  }
  .serve2 .gentlemen {
    height: 25vh;
  }
  .serve2 .guyz {
    margin-left: 7px;
    margin-top: 139px;
  }
  .serve2 .guyz .right {
    margin-left: -47px;
    margin-top: 207px;
  }
  .serve2 .muroora {
    height: 25vh;
  }
  .serve2 .bride {
    margin-top: 140px;
    margin-left: 30px;
  }
  .serve2 .bride .right2 {
    margin-top: 209px;
    margin-left: -47px;
  }
  .asseen .photogrid {
    margin-left: -26px;
  }
  .asseen .photogrid .r1 {
    height: 25vh;
  }
  .asseen .photogrid .r2 {
    height: 25vh;
  }
  .asseen .photogrid .r3 {
    height: 25vh;
  }
  .asseen .photogrid .r4 {
    height: 25vh;
  }
  .asseen .photogrid .r5 {
    height: 25vh;
  }
  .asseen .photogrid .r6 {
    height: 25vh;
  }
  .footer {
    height: 21vh;
  }
  .footer .all15 .zizo {
    height: 4vh;
  }
  .footer .all15 .right {
    margin-left: -12px;
  }
  .footer p {
    font-size: 11px;
  }
  .footer .us {
    margin-top: 9px;
  }
  .footer .com {
    margin-top: 9px;
  }
  .footer .street {
    margin-top: 9px;
  }
  .footer .first {
    margin-right: 20px;
  }
  .footer .second {
    margin-right: 20px;
  }
  .footer .third {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .fa-sun:before {
    margin-left: 820px;
  }
  .fa-moon::before {
    margin-left: 820px;
  }
  .main-navigation {
    display: none;
  }
  .navigation .logo {
    position: absolute;
    left: 11%;
    margin-left: -72px;
    height: 4vh;
  }
  .navigation .link1 {
    position: absolute;
    margin-left: 270px;
  }
  .navigation .link2 {
    position: absolute;
    margin-left: 436px;
  }
  .navigation .link3 {
    position: absolute;
    margin-right: -660px;
  }
  .navigation .dropdown {
    position: absolute;
    margin-top: 12px;
    height: 9px;
    margin-left: 524px;
  }
  .navigation .moon {
    height: 2vh;
  }
  .banner .all {
    margin-top: 41px;
  }
  .banner .wordnbuttons {
    margin-left: 45px;
  }
  .banner .wordnbuttons h1 {
    width: 243px;
    margin-top: -75px;
  }
  .banner .wordnbuttons p {
    width: 172px;
  }
  .banner .wordnbuttons .button1 {
    height: 3vh;
  }
  .banner .wordnbuttons .button2 {
    height: 3vh;
  }
  .banner .wordnbuttons .watch {
    height: 2vh;
  }
  .banner .wordnbuttons .tick {
    height: 2vh;
  }
  .banner .couple {
    height: 30vh;
  }
  .banner .bride {
    height: 30vh;
  }
  .banner .xul {
    height: 30vh;
  }
  .banner .bucket {
    height: 30vh;
  }
  .banner .pics {
    margin-left: -97px;
    margin-right: 49px;
    margin-top: 26px;
  }
  #Aboutus .tigz {
    margin-left: 66px;
  }
  #Aboutus .p2 {
    font-size: 13px;
    margin-left: 168px;
  }
  #Aboutus .p3 {
    font-size: 13px;
    margin-top: 29px;
  }
  #Aboutus .sack {
    margin-left: -138px;
  }
  #Aboutus .bags {
    margin-top: -1px;
    height: 20vh;
    margin-left: 172px;
  }
  #Aboutus .tutor {
    margin-left: 382px;
    height: 20vh;
    margin-top: -164px;
  }
  #Aboutus .youtube {
    height: 3vh;
    position: absolute;
    left: 706px;
    top: 891px;
  }
  #Aboutus .button3 {
    margin-top: 11px;
    height: 3vh;
  }
  #Aboutus .dancing2 {
    margin-right: 46px;
    margin-left: 30px;
  }
  #Aboutus .dancing2 .dancing {
    height: 25vh;
  }
  #services .makule .kule {
    height: 40vh;
  }
  #services .makule .arrow {
    position: absolute;
    height: 3vh;
    bottom: -0.1%;
    left: 27.8%;
  }
  #services .makule .events {
    position: absolute;
    bottom: 0.6%;
    left: 13%;
  }
  #services .ds {
    height: 40vh;
  }
  #services .ds .x {
    height: 3vh;
    position: absolute;
    bottom: -0.1%;
    left: 61.7%;
  }
  #services .looks .camera {
    height: 40vh;
  }
  #services .looks .arrow2 {
    position: absolute;
    bottom: -0.1%;
    left: 92.4%;
    height: 3vh;
  }
  #services .looks .media {
    position: absolute;
    bottom: -0.4%;
    left: 77%;
  }
  .clients {
    margin-top: 90px;
  }
  .serve2 .fatso {
    margin-top: 20px;
  }
  .serve2 .fatso2 {
    margin-top: 20px;
  }
  .serve2 .gentlemen {
    height: 20vh;
  }
  .serve2 .guyz {
    margin-left: 91px;
  }
  .serve2 .guyz .right {
    margin-top: 225px;
  }
  .serve2 .muroora {
    height: 20vh;
  }
  .serve2 .bride {
    margin-left: 46px;
    margin-top: 51px;
  }
  .serve2 .bride .right2 {
    margin-top: 225px;
  }
  .asseen .photogrid {
    margin-left: -23px;
  }
  .asseen .photogrid .r1 {
    height: 25vh;
  }
  .asseen .photogrid .r2 {
    height: 25vh;
  }
  .asseen .photogrid .r3 {
    height: 25vh;
  }
  .asseen .photogrid .r4 {
    height: 25vh;
  }
  .asseen .photogrid .r5 {
    height: 25vh;
  }
  .asseen .photogrid .r6 {
    height: 25vh;
  }
  .footer {
    height: 20vh;
  }
  .footer .all15 .zizo {
    height: 4vh;
  }
}

@media (min-width: 769px) {
  .icon--menu-toggle {
    display: none;
  }
}

@media only screen and (min-width: 1399.98px) {
  .navigation .logo {
    position: absolute;
    margin-left: -1078px;
  }
  .navigation .link1 {
    position: absolute;
    margin-left: 363px;
  }
  .navigation .link2 {
    position: absolute;
    margin-left: 42%;
  }
  .navigation .dropdown {
    position: absolute;
    margin-left: 49%;
  }
  .navigation .link3 {
    position: absolute;
    margin-right: -61%;
  }
  .navigation .fa-moon::before {
    margin-top: 8px;
    margin-left: 35%;
    position: absolute;
  }
  .navigation .fa-sun:before {
    margin-top: 8px;
    margin-left: 35%;
    position: absolute;
  }
  .banner .wordnbuttons {
    margin-top: 252px;
  }
  .banner .pics {
    margin-top: 86px;
  }
  #Aboutus .button3 {
    margin-top: 6px;
    font-family: "jose", JosefinSans;
    background-color: purple;
    border-style: none;
    color: white;
    height: 5vh;
    width: 110px;
  }
  #Aboutus .youtube {
    top: 1051px;
    left: 994px;
    position: absolute;
  }
  #Aboutus .dancing2 {
    margin-left: 74px;
  }
  #Aboutus .tutor {
    margin-top: 93px;
  }
  #Aboutus .sack {
    margin-left: 24px;
  }
  #services .x {
    position: absolute;
    bottom: 0%;
    left: 63.5%;
  }
  #services .arrow {
    position: absolute;
    bottom: 0%;
    left: 28.8%;
  }
  #services .arrow2 {
    position: absolute;
    bottom: 0%;
    left: 93.9%;
  }
  #services .ds {
    background-color: purple;
    width: 33%;
    height: 84vh;
    margin-right: 20px;
    color: white;
  }
  #services .media {
    position: absolute;
    bottom: -0.9%;
    left: 79%;
  }
  #services .events {
    left: 14%;
    bottom: -0.9%;
  }
  .serve2 .clients {
    margin-bottom: -46px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "jose", JosefinSans;
    margin-left: 92px;
    margin-top: 91px;
  }
  .serve2 .guyz {
    margin-left: 147px;
    margin-top: 104px;
  }
  .serve2 .guyz .right {
    position: absolute;
    margin-left: -47px;
    margin-top: 325px;
  }
  .serve2 .bride .right2 {
    margin-left: -47px;
    margin-top: 325px;
    position: absolute;
  }
  .asseen .photogrid {
    margin-top: 37px;
    margin-left: 90px;
  }
  .footer {
    height: 29vh;
    margin-top: 65px;
    background-color: purple;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */